// Mapping areas
- map_areas.each do |area|
  - building = area.first
  - map_areas[building].each_with_index do |v, i|
    - floor = i + 1
    area[
      coords=(v)
      shape="poly"
      title=(t('apartments_page.map_area_title', floor: floor, building: building))
      ng-click="map.setBuilding({building: '#{building}', floor: #{floor}}, 'click')"
      ng-mouseenter="map.setBuilding({building: '#{building}', floor: #{floor}})"
      stop-event=""
    ]
