/* line 1, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page {
  margin: 0;
}
/* line 4, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page .b-download-pdf {
  padding-top: 3.375rem;
  padding-right: 1.875rem;
  padding-bottom: 4.375rem;
}
/* line 14, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page section {
  position: relative;
}
/* line 18, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page h1 {
  font-family: Helvetica, sans-serif;
  color: #acca59;
  font-size: 15.75rem;
  line-height: 19.9rem;
  height: 16.25rem;
  padding-left: 1.875rem;
}
/* line 27, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page table {
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  border-spacing: 0;
  position: relative;
  padding-left: 1.125rem;
  padding-right: 1.8125rem;
  margin-bottom: 0.625rem;
}
/* line 37, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page table thead {
  padding-top: 1.25rem;
  padding-bottom: 0.9375rem;
  background-color: rgba(220, 233, 186, 0.7);
  background-image: -webkit-linear-gradient(rgba(220, 233, 186, 0.7) 2%, rgba(171, 201, 89, 0.7) 30%, rgba(170, 201, 89, 0.7), #b1cd65);
  background-image: linear-gradient(rgba(220, 233, 186, 0.7) 2%, rgba(171, 201, 89, 0.7) 30%, rgba(170, 201, 89, 0.7), #b1cd65);
  border-style: none;
  line-height: 3.75rem;
}
/* line 44, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page table thead th {
  font-weight: normal;
}
/* line 49, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page table tbody {
  color: #272425;
  font-size: 1.5rem;
  text-align: center;
}
/* line 54, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page table tbody td:first-child {
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
}
/* line 59, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page table tbody tr:nth-child(1n) {
  height: 3.75rem;
}
/* line 63, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page table tbody tr:nth-child(2n) {
  background-color: #ededed;
  height: 2.6875rem;
}
/* line 68, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page table tbody tr:hover {
  background-color: rgba(210, 226, 165, 0.5);
  color: #7d8365;
}
/* line 73, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page table tbody td {
  border-right: 2px dashed #a4a3a4;
}
/* line 76, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page table tbody td:last-child {
  border: none;
}
/* line 83, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page .plan {
  position: absolute;
  top: 0;
  right: 1.875rem;
}
/* line 89, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page #c {
  margin-top: 1.875rem;
}
/* line 92, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page #c .plan {
  top: -1.875rem;
}
/* line 98, /Users/laminelli/Webdev/projects/seberov/app/assets/stylesheets/apartments/_price_list_page.css.scss */
#l-apartments.__by-price-list-page #d .plan {
  top: 1.5625rem;
}
