#apartments-render {
  background-repeat: no-repeat;
  position: relative;
  height: em(209);
  background-size: 100%;

  a {
    position: relative;
  }

  .tooltip {
    bottom: -120px;
    left: -100px;
  }

  .active:hover {
    background-color: rgba(114, 191, 51, 0.5);
    @include transition(all 300ms ease-out);
  }

  .reserved {
    background-color: rgba(245, 233, 205, 0.5);
  }

  .sold {
    background-color: rgba(228, 206, 206, 0.5);
  }

  .apartment {
    position: absolute;
    width: em(60);
    height: em(95);
  }

  &.a {
    @include apartment-floor-plans($building: "a");

    .apartment {
      width: em(76);
      height: em(112);
    }

    &.floor-1 {
      @include fill-with-apartments(
        $container-width: em(75),
        $container-height: em(110),
        $start-position: em(195),
        $top-position: 24%,
        $last-apartment: 4)
    }

    // Single apartment styles
    &.floor-2, &.floor-3 {
      @include fill-with-apartments(
        $container-width: em(75),
        $container-height: em(115),
        $start-position: em(12),
        $top-position: 24%,
        $last-apartment: 7,
        $apartment1-width: em(60),
        $apartment2-width: em(60),
        $apartment3-width: em(60),
        $apartment7-width: em(80))
    }
  }

  &.b {
    @include apartment-floor-plans($building: "b");

    &.floor-1, &.floor-2 {
      @include fill-with-apartments(
        $container-width: 60px,
        $container-height: 105px,
        $start-position: 12px,
        $top-position: 25%,
        $last-apartment: 8,
        $apartment8-width: 70px)
    }

    &.floor-3 {
      @include fill-with-apartments(
        $container-width: 59px,
        $container-height: 100px,
        $start-position: 17px,
        $top-position: 25%,
        $last-apartment: 8,
        $apartment8-width: 65px)
    }
  }

  &.c {
    @include apartment-floor-plans($building: "c");

    &.floor-1 {
      @include fill-with-apartments(
        $container-width: 88px,
        $container-height: 180px,
        $start-position: 12px,
        $top-position: 2%,
        $last-apartment: 5,
        $apartment1-width: 97px)
    }

    &.floor-2 {
      // row 1
      @include fill-with-apartments(
        $container-width: 88px,
        $container-height: 90px,
        $start-position: 12px,
        $top-position: 2%,
        $start-from: 1,
        $last-apartment: 5,
        $apartment1-width: 99px);
      // row 2
      @include fill-with-apartments(
        $container-width: 88px,
        $container-height: 90px,
        $start-position: 12px,
        $top-position: 45%,
        $start-from: 6,
        $last-apartment: 10,
        $apartment1-width: 99px);
    }

    &.floor-3 {
      @include fill-with-apartments(
        $container-width: 89px,
        $container-height: 180px,
        $start-position: 28px,
        $top-position: 2%,
        $last-apartment: 5,
        $apartment1-width: 97px)
    }
  }

  &.d {
    @include apartment-floor-plans($building: "d");

    &.floor-3 {
      @include fill-with-apartments(
        $container-width: 174px,
        $container-height: 140px,
        $start-position: 86px,
        $top-position: 22%,
        $last-apartment: 2)
    }

    &.floor-2 {
      @include fill-with-apartments(
        $container-width: 203px,
        $container-height: 140px,
        $start-position: 55px,
        $top-position: 22%,
        $last-apartment: 2)
    }
  }
}
