#apartments-render {
  position: relative;
  width: 512px;
  height: 209px;

  a {
    position: relative;
  }

  .tooltip {
    bottom: -120px;
    left: -100px;
  }

  .active:hover {
    background-color: rgba(114, 191, 51, 0.5);
    @include transition(all 300ms ease-out);
  }

  .reserved {
    background-color: rgba(245, 233, 205, 0.5);
  }

  .sold {
    background-color: rgba(228, 206, 206, 0.5);
  }

  .apartment {
    position: absolute;
    width: 60px;
    height: 95px;
  }

  &.a {
    @include apartment-floor-plans($building: "a");

    .apartment {
      width: 76px;
      height: 112px;
    }

    &.floor-1 {
      @include fill-with-apartments(
        $container-width: 75px,
        $start-from: 195px,
        $top-position: 25%,
        $apartments-size: 4)
    }

    // Single apartment styles
    &.floor-2, &.floor-3 {
      @include fill-with-apartments(
        $container-width: 75px,
        $start-from: 12px,
        $top-position: 25%,
        $apartments-size: 7,
        $apartment1-width: 60px,
        $apartment2-width: 60px,
        $apartment3-width: 60px,
        $apartment7-width: 80px)
    }
  }

  &.b {
    @include apartment-floor-plans($building: "b");

    &.floor-1, &.floor-2 {
      @include fill-with-apartments(
        $container-width: 60px,
        $start-from: 12px,
        $top-position: 25%,
        $apartments-size: 8,
        $apartment8-width: 70px)
    }

    &.floor-3 {
      @include fill-with-apartments(
        $container-width: 59px,
        $start-from: 17px,
        $top-position: 25%,
        $apartments-size: 8,
        $apartment8-width: 65px)
    }
  }

  &.c {
    @include apartment-floor-plans($building: "c");

    &.floor-1 {
      @include fill-with-apartments(
        $container-width: 88px,
        $container-height: 180px,
        $start-from: 12px,
        $top-position: 2%,
        $apartments-size: 5,
        $apartment1-width: 97px)
    }

    &.floor-2 {
      @include fill-with-apartments(
        $container-width: 88px,
        $container-height: 90px,
        $start-from: 12px,
        $top-position: 2%,
        $apartments-size: 5,
        $apartment1-width: 99px);

      // second row, manual styling
      .apartment:nth-child(6) {
        right: 12px;
        top: 45%;
        width: 99px;
      }

      .apartment:nth-child(7) {
        right: 12px + 99px;
        top: 45%;
        width: 88px;
      }

      .apartment:nth-child(8) {
        right: 12px + 99px + 88px;
        top: 45%;
        width: 88px;
      }

      .apartment:nth-child(9) {
        right: 12px + 99px + 88px + 88px;
        top: 45%;
        width: 88px;
      }

      .apartment:nth-child(10) {
        right: 12px + 99px + 88px + 88px + 88px;
        top: 45%;
        width: 88px;
      }
    }

    &.floor-3 {
      @include fill-with-apartments(
        $container-width: 89px,
        $container-height: 180px,
        $start-from: 28px,
        $top-position: 2%,
        $apartments-size: 5,
        $apartment1-width: 97px)
    }
  }

  &.d {
    @include apartment-floor-plans($building: "d");

  }
}
