#apartments-render {
  position: relative;
  width: 512px;
  height: 209px;

  a {
    position: relative;
  }

  .tooltip {
    bottom: -120px;
    left: -100px;
  }

  .active:hover {
    background-color: rgba(114, 191, 51, 0.5);
    @include transition(all 300ms ease-out);
  }

  .reserved {
    background-color: rgba(245, 233, 205, 0.5);
  }

  .sold {
    background-color: rgba(228, 206, 206, 0.5);
  }

  .apartment {
    float: right;
    margin: 50px auto;
  }

  &.a {
    @include apartment-floor-plans($building: "a");

    .apartment {
      width: 76px;
      height: 112px;
    }

    &.floor-1 {
      padding-right: 193px;
    }

    // Single apartment styles
    &.floor-2 {
      padding-right: 10px;

      .apartment[data-unit-id*="4"] {
        width: 73px;
      }

      .apartment[data-unit-id*="3"] {
        width: 63px;
        margin-top: 70px;
        height: 100px;
      }

      .apartment[data-unit-id*="2"] {
        width: 60px;
        margin-top: 70px;
        height: 100px;
      }

      .apartment[data-unit-id*="1"] {
        width: 60px;
        margin-top: 52px;
        height: 120px;
      }
    }

    &.floor-3 {
      padding-right: 10px;

      .apartment {
        width: 7px;
        height: 110px;

        &[data-unit-id*="3"], &[data-unit-id*="2"], &[data-unit-id*="1"] {
          width: 62px;
        }
      }
    }
  }

  &.b {
    padding-right: 10px;
    @include apartment-floor-plans($building: "b");

    .apartment {
      width: 60px;
      height: 110px;

      &:last-child {
        width: 70px;
      }
    }

    &.floor-3 {
      padding-right: 16px;
    }
  }

  &.c {
    @include apartment-floor-plans($building: "c");

    .apartment {
      float: left;
    }
  }

  &.d {
    @include apartment-floor-plans($building: "d");

  }
}
