&.__index-page {
  .b-building-selectors, .b-apartment-selector {
    padding: rem_calc(18);
  }

  .b-building-selectors {

    h2 {
      color: $green;
      font-family: $default_font;
      font-size: rem_calc(16);
      font-weight: 800;
    }

    form label {
      font-size: rem_calc(15);
      font-weight: bold;
    }

    .b-active-map {

      .building-compass {
        position: absolute;
        left: rem-calc(-63);
        top: rem-calc(50);
        z-index: 10;
        transform: rotate(-15deg);
      }

      .interactive-map {
        position: relative;

        #interactive-map:hover {
          &:after {
            content: "";
            position: absolute;
            z-index: 999;
            width: rem-calc(1000);
            height: rem-calc(1000);
            background-color: #000;
          }
        }

        #render {
          background-size: 100%;
          position: absolute;
          display: block;
          top: 0;
          height: rem-calc(499);
          width: rem-calc(499);
          z-index: 8;

          @for $i from 1 through 3 {
            &[data-floor = "#{$i}"] {
              &[data-building = "a"] {
                @include active-map($building: "a");
                @include active-map($floor: $i, $building: "a");
              }

              &[data-building = "b"] {
                @include active-map($floor: $i, $building: "b");
              }

              &[data-building = "c"] {
                @include active-map($floor: $i, $building: "c");
              }

              &[data-building = "d"] {
                @include active-map($floor: $i, $building: "d");
              }
            }
          }
        }
      }
    }
  }

  .b-apartment-selector {
    border-left: 1px solid #a39e9e;
    min-height: rem(590);

    // <-- Media queries
    @media #{$small-only} {
      font-size: .25;
    }
    @media #{$medium-only} {
      font-size: .75;
    }
    // -->

    h1 {
      font-size: rem-calc(20);
      color: $green;
      font-weight: 900;
      padding: 0;
      margin: 0;
      margin-bottom: rem-calc(24);
    }

    @import "apartments/apartments_render";
  }
}
