&.__show-page {

  fieldset {
    border: 2px solid $grey-borders;
    padding: rem-calc(25 90);
    margin-bottom: rem(20);

    legend {
      color: #5e9472;
      font-family: 'Open Sans', sans-serif;
      font-size: rem_calc(15);
      font-weight: 400;
    }

    &:before {
      content: '';
      position: absolute;
      background: image-url('apartments/compass-for-center.jpg');
      width: 78px;
      height: 54px;
      left: 0;
      top: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .b-preview {
      padding-bottom: 30px;

      .fancybox {
        display: inline-block;
        position: relative;

        &.plan {
          &:after { bottom: 0; }
        }

        &.model {
          &:after { top: 0; }
        }

        &:after {
          background-image: image-url('apartments/show/zoom.png');
          content: "";
          position: absolute;
          width: 54px;
          height: 54px;
          right: 10px;
        }
      }

      .b-plans {
        margin-top: 40px;
      }
    }

    .b-parameters {
      border-top: 1px solid $grey-tint-1;
      border-bottom: 1px solid $grey-tint-1;
      padding-left: rem(23);
    }
  }

  .__maps {
    padding-top: 45px;
  }

  #building-map {
    position: relative;
    width: 193px;
    height: auto;

    #a, #b, #c, #d {
      position: absolute;
      background-color: $green;
      opacity: 0.5;
    }

    #a {
      width: 39px;
      height: 186px;
      left: 0;
      top: 0;
    }

    #b {
      width: 193px;
      height: 45px;
      top: 0;
    }

    #c {
      width: 40px;
      height: 126px;
      top: 45px;
      right: 10px;
    }

    #d {
      width: 66px;
      height: 30px;
      top: 163px;
      right: 29px;
    }

    .text-center {
      font-family: 'Open Sans', sans-serif;
      margin-top: 25px;
      font-size: rem_calc(16);
      color: #4e4e4e;
    }
  }

  #floors-map {
    width: 140px;
    height: auto;
    position: relative;
    margin-top: 55px;

    .text-center {
      font-family: 'Open Sans', sans-serif;
      margin-top: 25px;
      font-size: rem_calc(16);
      color: #4e4e4e;
    }
  }

  .__numbers {
    padding-top: 20px;

    ul {
      font-size: rem_calc(15);
      color: $dark_grey;

      span {
        padding-right: 5px;
      }

      strong {
        float: right;
        color: #1a1a1a;
      }

      li:nth-child(2n + 1) {
        padding-right: 52px;
      }

      li {
        padding-bottom: 3px;
      }
    }
  }

  .b-parameters {
    padding-bottom: 30px;
    margin-bottom: 15px;
  }

  .b-calculator {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 30px;
    margin-top: 30px;

    .wrap {
      height: 73px;
      border: 1px solid $green;
    }

    .header {
      position: absolute;
      width: 100%;
      top: -13px;

      h4 {
        font-family: 'Open Sans', sans-serif;
        color: $green;
        font-weight: bold;
        font-size: rem_calc(15);
        display: inline-block;
        background-color: #fff;
        margin-left: 20px;
        padding-right: 5px;

        &:before {
          content: "";
          display: inline-block;
          background-color: #fff;
          @include triangle(12px 6px, $green, right);
          margin-left: 5px;
        }
      }

      .selectors {
        position: absolute;
        right: 20px;
        top: 0;
        background-color: #fff;

        a {
          color: #7f7f7f;
          font-weight: 700;
          padding-right: 15px;
          text-decoration: underline;

          &.active {
            color: $green;
            text-decoration: none;
          }

          &:first-child {
            padding-left: 6px;
          }

          &:last-child {
            padding-right: 6px;
          }
        }
      }
    }

    .content {
      h1 {
        font-family: $default-font;
        font-size: rem(18);
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        margin-top: 25px;
        color: $dark_grey;

        strong {
          color: $green;
          padding-left: 10px;
        }
      }
    }

    .footer {
      span { color: $dark_grey; }

      span, a {
        background-color: #fff;
        font-size: rem(13);
        padding-left: 8px;
        padding-right: 8px;
      }

      a {
        display: block;
        clear: both;
        font-style: italic;
        color: $green;
      }

      br {
        line-height:10px;
      }
    }
  }

  .b-apartment-application {
    @include custom-row-gutter(10, 10, 15, 20, true);

    .header {
      h5 {
        font-size: rem_calc(16);
        font-weight: bold;
        margin-bottom: 0;
      }

      .subheader {
        font-size: rem_calc(16);
        font-weight: 800;
        color: $grey;
        font-style: italic;
      }
    }
  }

  .b-multi-slider {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .b-apartment-text {
    h1 {
      font-size: 16px;
      font-weight: bold;
      color: $green;
      padding: 0;
      text-decoration: underline;
    }

    p {
      text-indent: 50px;
      font-size: 14px;
      color: $dark_grey;
    }

    .author {
      font-size: 13px;
      font-weight: 700;
      font-style: italic;
    }
  }

  .b-download-pdf {
    background-color: #fff;
    position: absolute;
    right: 100px;
    bottom: 10px;

    @extend .b-download-pdf;
    padding-left: 8px;
    padding-right: 8px;
  }
}

// Modal window
@at-root #thankYouModal {
  h2 {
    font-size: rem(52);
    font-weight: 900;
    margin-top: 3rem;
    margin-bottom: rem(75);
  }

  h4 {
    font-family: $bold-font;
    color: #666666;
    font-size: rem(25.13);
    font-weight: bold;
  }

  h5 {
    color: #989898;
    font-family: $bold-font;
    font-size: rem(25.13);
    font-weight: bold;
    margin-bottom: rem(40);
  }
}
