&.__show-page {
  // Modal window displays outside of block
  @import "apartments/mortgage_calculator";

  fieldset {
    border: 2px solid $super-light-grey;
    padding: rem-calc(25 90);
    margin-bottom: rem(20);

    legend {
      color: #5e9472;
      font-family: 'Open Sans', sans-serif;
      font-size: rem_calc(15);
      font-weight: 400;
    }

    &:before {
      background: image-url('apartments/compass.png') no-repeat;
      background-size: rem-calc(70);
      content: '';
      position: absolute;
      width: rem(80);
      height: rem(80);
      left: 0;
      top: rem(-8);
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .b-preview {
      margin-top: rem(30);
      padding-bottom: rem(30);

      .floor-n {
        padding-left: rem(45);
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: rem(15);
        color: $grey;
        text-transform: uppercase;
        margin-bottom: rem(20);
        height: rem(230);
      }

      .row {
        margin-bottom: rem(30);
        &:last-child {
          margin-bottom: 0;
        }
      }

      .zoom-in {
        display: inline-block;
        position: relative;
        outline: none;

        &:after {
          background: image-url('apartments/show/zoom.png') no-repeat;
          background-size: rem-calc(50);
          content: "";
          position: absolute;
          width: rem(54);
          height: rem(54);
          left: rem(-55);
          top: rem(20);
        }

        &.plan {

          img {
            transform: rotate(90deg);
          }

          &:after {
            left: rem(-110);
            bottom: 0;
          }
        }

        &.model {
          &:after { top: 0; }
        }
      }
    }

    .b-parameters {
      border-top: 1px solid $grey-tint-1;
      border-bottom: 1px solid $grey-tint-1;
      padding-left: rem(23);
    }
  }

  .__maps {
    padding-top: rem(45);
  }

  #building-map {
    position: relative;
    width: rem(193);
    height: auto;

    #a, #b, #c, #d {
      position: absolute;
      background-color: $green;
      opacity: 0.5;
    }

    #a {
      width: rem(39);
      height: rem(186);
      left: 0;
      top: 0;
    }

    #b {
      width: rem(193);
      height: rem(45);
      top: 0;
    }

    #c {
      width: rem(40);
      height: rem(126);
      top: rem(45);
      right: rem(10);
    }

    #d {
      width: rem(66);
      height: rem(30);
      top: rem(163);
      right: rem(29);
    }

    .location {
      background-color: #c9e1d8;
      position: absolute;

      &.a {
        height: rem-calc(20);
        width: rem-calc(40);
      }

      &.a01 {
        bottom: 0;
      }
      &.a03 {
        bottom: 40px;
      }
      &.a04 {
        bottom: 60px;
      }
      &.a05 {
        bottom: 80px;
      }
      &.a06 {
        bottom: 100px;
      }
      &.a07 {
        bottom: 120px;
      }

      &.b {
        height: rem-calc(47);
        width: rem-calc(15);
      }

      &.b01, &.b09 {
        right: 50px;
      }

      &.b04 {
        right: 80px;
      }

      &.b05 {
        right: 95px;
      }

      &.c {
        width: rem-calc(40);
        height: rem-calc(25);
      }

      &.c09, &.c08 {
        bottom: 0;
      }

      &.c06, &.c07  {
        bottom: 25px;
      }

      &.c05, &.c04 {
        bottom: 50px;
      }

      &.c02, &.c10 {
        bottom: 75px;
      }

      &.c01, &.c03 {
        bottom: 100px;
      }
    }

    .text-center {
      font-family: 'Open Sans', sans-serif;
      margin-top: 1.5625rem;
      font-size: rem_calc(16);
      color: #4e4e4e;
    }
  }

  #floors-map {
    width: rem(140);
    height: auto;
    position: relative;
    margin-top: rem(5);

    .text-center {
      font-family: 'Open Sans', sans-serif;
      margin-top: rem(25);
      font-size: rem(16);
      color: #4e4e4e;
    }
  }

  .__numbers {
    padding-top: 20px;

    ul {
      font-size: rem_calc(15);
      color: $dark_grey;

      span {
        padding-right: rem(5);
      }

      strong {
        float: right;
        color: #1a1a1a;
      }

      li:nth-child(2n + 1) {
        padding-right: rem(52);
      }

      li {
        padding-bottom: rem(3);
      }
    }
  }

  .b-parameters {
    padding-bottom: rem(30);
    margin-bottom: rem(15);
  }

  .b-calculator {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 30px;
    margin-top: 30px;

    .wrap {
      height: 73px;
      border: 1px solid $green;
    }

    .header {
      position: absolute;
      width: 100%;
      top: -13px;

      h4 {
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        color: $green;
        font-weight: bold;
        font-size: rem-calc(15);
        display: inline-block;
        background-color: #fff;
        margin-left: rem(20);
        padding-right: rem(5);

        &:before {
          content: "";
          display: inline-block;
          background-color: #fff;
          @include triangle(12px 6px, $green, right);
          margin-left: rem(5);
          padding-right: rem(5);
        }
      }

      .selectors {
        position: absolute;
        right: rem(20);
        top: 0;
        background-color: #fff;

        a {
          color: #7f7f7f;
          font-weight: 700;
          padding-right: rem(15);
          text-decoration: underline;

          &.active {
            color: $green;
            text-decoration: none;
          }

          &:first-child {
            padding-left: rem(6);
          }

          &:last-child {
            padding-right: rem(6);
          }
        }
      }
    }

    .content {
      h1 {
        font-family: $default-font;
        font-size: rem(18);
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        margin-top: rem(25);
        color: $dark_grey;

        strong {
          color: $green;
          padding-left: rem(10);
        }
      }
    }

    .footer {
      span { color: $dark_grey; }

      span, a {
        background-color: #fff;
        font-size: rem(16);
        padding-left: rem(8);
        padding-right: rem(8);
      }

      a {
        display: block;
        clear: both;
        font-style: italic;
        color: $green;
      }

      br {
        line-height: rem(10);
      }
    }
  }

  .b-apartment-parameters {

    .floor-number {
      clear: both;
      font-size: rem(16);
    }

    &.i-0 {
      padding-right: rem(52);
    }

    .item {
      padding-top: rem(5);

      span {
        padding-right: rem(5);
      }

      strong {
        float: right;
      }
    }

    &:first-child {
        padding-right: rem(52);
      }
  }

  .b-apartment-application {
    @include custom-row-gutter(10, 10, 15, 20, true);
    margin: 0;

    div:first-child {
      padding: 0;
    }

    .header {
      h5 {
        font-size: rem_calc(16);
        font-weight: bold;
        margin-bottom: 0;
      }

      .subheader {
        font-size: rem_calc(16);
        font-weight: 600;
        color: $dark-grey;
        margin-bottom: rem(12);
        font-style: italic;
      }
    }

    form {
      .row {
        margin: 0;
      }
      .columns {
        padding-left: 0 !important;
      }
    }
  }

  .b-multi-slider {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .b-apartment-text {
    h1 {
      font-size: rem(16);
      font-weight: bold;
      color: $green;
      padding: 0;
      text-decoration: underline;
    }

    section {
      margin-left: rem-calc(20);
    }

    p {
      //text-indent: rem(50);
      font-size: rem(14);
      color: $dark_grey;
    }

    .author {
      font-size: 13px;
      font-weight: 700;
      font-style: italic;
    }
  }

  .b-download-pdf {
    background-color: #fff;
    position: absolute;
    right: 100px;
    bottom: 10px;

    @extend .b-download-pdf;
    padding-left: rem(8);
    padding-right: rem(8);
  }
}

// Modal window
@at-root #thankYouModal {
  h2 {
    font-size: rem(52);
    font-weight: 900;
    margin-top: 3rem;
    margin-bottom: rem(75);
  }

  h4 {
    font-family: $bold-font;
    color: #666666;
    font-size: rem(25.13);
    font-weight: bold;
  }

  h5 {
    color: #989898;
    font-family: $bold-font;
    font-size: rem(25.13);
    font-weight: bold;
    margin-bottom: rem(40);
  }
}
