form {
  $input-height: 30px;

  // Setup all input elements
  // No shadows
  #{$all-text-inputs} {
    height: rem_calc($input-height);
    box-shadow: none;
  }

  input[type="submit"] {
    background-color: $green;
    border: none;
    color: $white;
    font-size: rem_calc(16);
    font-weight: bold;
    text-transform: uppercase;
    padding-left: rem_calc(30);
    padding-right: rem_calc(30);
    height: rem_calc($input-height);
  }

  select {
    height: rem-calc(23);
    font-size: rem-calc(14);
    font-weight: bold;
    padding: 0;
    padding-left: 4px;
  }

  // Checkboxes
  input[type="checkbox"] {
    position:absolute;
    z-index:-1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
  }

  input[type="checkbox"] + label {
    padding-left:30px;
    height:21px;
    display:inline-block;
    line-height:21px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;
    font-size: rem_calc(15);
  }

  input[type="checkbox"]:checked + label {
    background-position: 0 -21px;
  }

  input[type="checkbox"] + label {
    background-image: image-url('forms/cb-sprite');
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  select {
    border-color: #689b7b;
    background-color: $white;
  }

  // Sliders
  .noUi-target {
    background-color: $green;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }

  .noUi-horizontal {
    height: 5px;
  }

  .noUi-horizontal .noUi-handle {
    width: 15px;
    height: 23px;
    left: -17px;
    top: -9px;
  }

  .noUi-handle  {
    border-radius: 0;
    box-shadow: none;
    border: none;
    background: image-url('forms/slider-handle') no-repeat;
  }

  .noUi-handle:before, .noUi-handle:after {
    display: inline;
    position: static;
  }
}
