form {
  $input-height: 30px;

  .form-font-color {
    font-size: rem(16);
    color: $grey-tint-2;
  }

  // Setup all input elements
  // No shadows
  #{$all-text-inputs} {
    height: rem($input-height);
    box-shadow: none;
    border-color: $grey;
    padding: 0;
    padding-left: .5rem;

    @extend .form-font-color;
  }

  &.grey {
    #{$all-text-inputs} {
      height: rem($input-height);
      font-size: rem(14);
      box-shadow: none;
      border-color: $grey-tint-3;
      padding: 0;
      padding-left: .5rem;
      background-color: rgba($grey-tint-4, .5);
      color: $dark-grey;
    }
  }

  input[type="submit"], button[type="submit"] {
    background-color: $green;
    border: none;
    color: $white;
    font-size: rem_calc(16);
    font-weight: bold;
    text-transform: uppercase;
    //padding-left: rem_calc(30);
    //padding-right: rem_calc(30);
    height: rem_calc($input-height);
    width: 100%;
  }

  select {
    height: rem-calc(23);
    font-size: rem-calc(14);
    font-weight: bold;
    padding: 0;
    padding-left: 4px;
  }

  // Checkboxes
  input[type="checkbox"] {
    position:absolute;
    z-index:-1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
  }

  input[type="text"]:focus, input[type="password"]:focus,
  input[type="date"]:focus, input[type="datetime"]:focus,
  input[type="datetime-local"]:focus, input[type="month"]:focus,
  input[type="week"]:focus, input[type="email"]:focus,
  input[type="number"]:focus, input[type="search"]:focus,
  input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus,
  input[type="color"]:focus, textarea:focus {
    border-color: inherit;
    background: inherit;
    height: $input-height;
  }

  input[type="checkbox"] + label {
    padding-left:30px;
    height:21px;
    display:inline-block;
    line-height:21px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;
    font-size: rem_calc(15);
  }

  input[type="checkbox"]:checked + label {
    background-position: 0 -21px;
  }

  input[type="checkbox"] + label {
    background-image: image-url('forms/cb-sprite');
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  select {
    border-color: #689b7b;
    background-color: $white;
  }

  // Sliders
  .noUi-target {
    background-color: $green;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }

  .noUi-horizontal {
    height: 5px;
  }

  .noUi-background {
    background-color: $green;
    box-shadow: none;
  }

  .noUi-horizontal .noUi-handle {
    width: 15px;
    height: 23px;
    left: -17px;
    top: -9px;
  }

  .noUi-handle  {
    border-radius: 0;
    box-shadow: none;
    border: none;
    background: image-url('forms/slider-handle') no-repeat;
  }

  .noUi-handle:before, .noUi-handle:after {
    display: inline;
    position: static;
  }

  .noUi-connect {
    background-color: $green;
  }
}
