i.icon {
  display: inline-block;
  width: 42px;
  height: 42px;

  &.pdf {
    background-image: asset-url('icons/pdf-icon42.png');

    &.green {
      background-image: asset-url('icons/pdf-green24x27.png');
      width: 24px;
      height: 27px;
    }
  }

  &.plan {
    background-image: asset-url('icons/plan-icon42.png');
  }
}
