.image-broadcaster {

  .controls {
    position: absolute;
    top: rem(20);
  }

  ol {
    padding: 0;
    margin: 0;

    li {
      clear: both;
      color: #fff;
      list-style-type: none;
      line-height: rem_calc(30);
      height: rem(30);
      margin-bottom: rem(4);

      &.active > a {
        background-color: #5e9472;
      }

      > a {
        background-color: #7f7f7f;
        color: #fff;
        display: inline-block;
        padding-left: rem(9);
        padding-right: rem(9);
        float: left;

        font: {
          family: 'Open Sans Condensed', sans-serif;
          size: rem_calc(25);
          weight: bold;
        }
      }

      .title {
        background-color: #517e61;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: rem_calc(18);
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
        padding-right: rem(10);
      }
    }
  }
}
