/*--------------
  Circular images
---------------*/
$radius: 30px;

.circular.images,
.circular.image {
  overflow: hidden;
}

.circular.images .image,
.circular.images img,
.circular.images svg,
.circular.image img,
.circular.image svg,
.circular.image {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.circular image {
  @extend .circular.image;
}
