$purple: #3b224a;
$dark: #191919;
$dark_grey: #4e4e4e;
$light_grey: #e4e4e4;
$green: #359671; // old #5e9472
$dark-green: #669966;
$grey: #7f7f7f;
$light-green: #549350;
$white: #fff;

$default-font: 'Open Sans', sans-serif;
$second-font: 'Open Sans Condensed', sans-serif;
$bold-font: $second-font;
