$purple: #3b224a;
$darkness: #4d4d4d;
$dark_grey: #4e4e4e;
$light_grey: #e6e7e8; // old #e4e4e4
$super-light-grey: #e6e7e8;
$grey-tint-1: #b2b2b2;
$grey-tint-2: #989898;
$grey-tint-3: #888888;
$grey-tint-4: #f1f1f1;
$grey-tint-5: #666666;
$grey-borders: #d3cfcf;
$green: #359671; // old #5e9472
$dark-green: #257d5b;
$dark-green2: #1f7351;
$grey: #808080;
$light-green: #549350;
$black: #000;
$white: #fff;

$default-font: 'Open Sans', sans-serif;
$second-font: 'Open Sans Condensed', sans-serif;
$bold-font: $second-font;
