body {
  font-family: $default-font;
}

.upcase {
  text-transform: uppercase;
}

.padding-f {
  padding: 0 !important;
}

.margin-f {
  margin: 0 !important;
}

h1, h2, h3 {
  font-family: $second-font;
}

input {
  font-family: $default-font !important;
}
