#l-apartments {
  margin-top: rem_calc(143);
  position: relative;
  margin-bottom: 30px;

  // Media queries
  $gutter-size: rem_calc(15); // Small-screen

  @media #{$large-up} {
    $gutter-size: rem_calc(30);
  }

  %padding {
    padding-left: $gutter-size;
    padding-right: $gutter-size;
  }

  // Navigation
  .b-nav-tabs {
    position: relative;
    margin-bottom: -2px;
    z-index: 10;
    min-height: 1px;

    li {
      padding: 0;
    }

    a {
      background-color: #86af95;
      color: $white;
      padding: rem_calc(5 0 5 10);
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
      font-size: rem_calc(16);
      display: block;

      &.active {
        background-color: $green;

        &:after {
          @include triangle(14px, $green, down);
          content: ' ';
          bottom: rem_calc(-7);
          position: absolute;
          left: rem_calc(30);
        }
      }
    }
  }

  // Planning page
  &.planning {

    .b-building-selector, .b-flat-selector {
      padding: rem_calc(20);
    }

    .b-building-selector {
      border-right: 1px solid #a39e9e;

      h2 {
        color: $green;
        font-family: $default_font;
        font-size: rem_calc(16);
        font-weight: 800;
      }

      form label {
        font-size: rem_calc(15);
        font-weight: bold;
      }

      .b-active-map {
        .compass {
          position: absolute;
          left: -63px;
          background-image: image_url('apartments/compass');
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  // Parameters page
  .b-parameters {
    border-bottom: 1px solid $light_grey;

    // Filters by different parameters
    .b-filters {
      border-top: 1px solid $light_grey;
      padding-top: 20px;

      @include custom-row-gutter(10, 20, 30, 40);

      .rooms {
        padding-top: 20px;
      }

      h3 {
        color: #5e9472;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: rem_calc(18);
        padding-bottom: rem_calc(26);
      }

      input[type="text"] {
        height: 30px;
      }
    }

    .rooms {
      input[type="checkbox"] {
        border: 2px solid #bdc9c1;
      }
    }
  }

  .b-results {
    font-family: 'Open Sans', sans-serif;

    .total {
      font-size: rem_calc(18);
      color: #5e9472;
      line-height: rem_calc(55);
    }

    .items {
      @extend %padding;
      border-top: 1px solid $light_grey;

      .item {
        border-bottom: 1px solid $light_grey;
        padding-top: rem_calc(20);
        padding-bottom: rem_calc(20);

        .id {
          font-size: rem_calc(12);
          color: $dark_grey;
        }

        .attributes {
          font-size: rem_calc(15);
          padding-top: rem_calc(20);
        }

        .price {
          font-size: rem_calc(15);

          span {
            color: $green;
            font-weight: bold;
          }
        }

        .go {
          text-align: center;
          white-space: nowrap;

          &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em;
          }
        }

        .more {
          a {
            vertical-align: middle;
            display: inline-block;
            padding: rem_calc(20);
            font-size: rem_calc(18);
            border: 1px solid $green;
          }
        }
      }
    }
  }

  &.__item_page {
    fieldset {
      border: 2px solid #a9a4a4;
      padding: rem_calc(45) rem_calc(90);

      legend {
        color: #5e9472;
        font-family: 'Open Sans', sans-serif;
        font-size: rem_calc(15);
        font-weight: 400;
      }

      &:before {
        content: '';
        position: absolute;
        background: image_url('apartments/compass-for-center.jpg');
        width: 78px;
        height: 54px;
        left: 0;
        top: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      .b-preview {
        padding-bottom: 30px;
      }

      .b-parameters {
        border-top: 1px solid #b0b0b0;
        padding-left: 23px;
        padding-top: 47px;
      }
    }

    #building-map {
      position: relative;
      width: 193px;
      height: auto;

      #a, #b, #c, #d {
        position: absolute;
        background-color: $green;
        opacity: 0.5;
      }

      #a {
        width: 39px;
        height: 143px;
        bottom: 5px;
        left: 0;
      }

      #b {
        width: 193px;
        height: 45px;
        top: 0;
      }

      #c {
        width: 40px;
        height: 126px;
        top: 45px;
        right: 10px;
      }

      #d {
        width: 66px;
        height: 30px;
        bottom: 0;
        right: 29px;
      }

      .text-center {
        font-family: 'Open Sans', sans-serif;
        margin-top: 33px;
        font-size: rem_calc(16);
        color: #4e4e4e;
      }
    }

    #floors-map {
      width: 140px;
      height: auto;
      border-top-right-radius: 80px;
      border-top-left-radius: 80px;
      overflow: hidden;
      position: relative;

      #f-1, #f-2, #f-3 {
        position: absolute;
        opacity: 0.5;
      }

      #f-1 {
        height: 53px;
        background-color: #5e9472;
        position: absolute;
        top: 83px;
        width: 140px;

        &:before {
          border-bottom: 32px solid $green;
          border-left: 29px solid transparent;
          content: "";
          height: 0;
          left: -4px;
          position: absolute;
          top: -32px;
          width: 0;
        }
      }

      #f-2 {
        overflow: hidden;
        width: 80px;
        height: 20px;
      }

      #f-3 {

      }

      .text-center {
        font-family: 'Open Sans', sans-serif;
        margin-top: 29px;
        font-size: rem_calc(16);
        color: #4e4e4e;
      }
    }

    .__numbers {
      ul {
        font-size: rem_calc(15);

        span {
          padding-right: 5px;
        }
      }
    }

    .b-calculator {
      width: 100%;
      margin-bottom: 20px;
      position: relative;
      padding-bottom: 40px;

      .wrap {
        height: 75px;
        border: 1px solid $green;
      }

      header {
        position: absolute;
        width: 100%;
        top: -13px;

        h4 {
          font-family: 'Open Sans', sans-serif;
          color: $green;
          font-weight: bold;
          font-size: rem_calc(15);
          display: inline-block;
          background-color: #fff;
          margin-left: 20px;
        }

        .selectors {
          position: absolute;
          right: 20px;
          top: 0;
          background-color: #fff;

          a {
            color: $grey;
            font-weight: 700;
            padding-right: 7px;

            &.active {
              color: $green;
            }
          }
        }
      }

      .content {
        h1 {
          font-size: 18px;
          font-weight: normal;
          text-transform: uppercase;
          text-align: center;
          margin-top: 20px;

          strong {
            color: $green;
            padding-left: 10px;
          }
        }
      }

      footer {
        margin-top: -3px;
        span { color: $grey; }

        span, a {
          background-color: #fff;
          font-size: 13px;
        }
      }
    }
  }

  .wrap {
    border: 2px solid #a9a4a4;
  }

  h1 {
    @extend %padding;

    color: #4e4e4e;
    font-family: 'Open Sans', sans-serif;
    font-size: rem_calc(25);
    font-weight: 900;
    padding-top: rem_calc(10);
  }
}
