#l-apartments {
  margin-top: rem_calc(143);
  position: relative;
  margin-bottom: 30px;

  // Media queries
  $gutter-size: rem_calc(15); // Small-screen

  @media #{$large-up} {
    $gutter-size: rem_calc(30);
  }

  %padding {
    padding-left: $gutter-size;
    padding-right: $gutter-size;
  }

  // Navigation
  .b-nav-tabs {
    position: relative;
    margin-bottom: -2px;
    z-index: 10;
    min-height: 1px;

    li {
      padding: 0;
    }

    a {
      background-color: #86af95;
      color: $white;
      padding: rem_calc(5 0 5 10);
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
      font-size: rem_calc(16);
      display: block;

      &.active {
        background-color: $green;

        &:after {
          content: ' ';
          height: 0;
          position: absolute;
          width: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 7px solid $green;
          bottom: rem_calc(-7);
          left: rem_calc(30);
        }
      }
    }
  }

  // Planning page
  &.planning {

    .b-building-selector, .b-flat-selector {
      padding: rem_calc(20);
    }

    .b-building-selector {
      border-right: 1px solid #a39e9e;

      h2 {
        color: $green;
        font-family: $default_font;
        font-size: rem_calc(16);
        font-weight: 800;
      }

      form label {
        font-size: rem_calc(15);
        font-weight: bold;
      }

      .b-active-map {
        .compass {
          position: absolute;
          left: -63px;
          background-image: image_url('apartments/compass');
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  // Parameters page
  .b-parameters {
    border-bottom: 1px solid $light_grey;

    // Filters by different parameters
    .b-filters {
      border-top: 1px solid $light_grey;
      padding-top: 20px;

      @include custom-row-gutter(10, 20, 30, 40);

      .rooms {
        padding-top: 20px;
      }

      h3 {
        color: #5e9472;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: rem_calc(18);
        padding-bottom: rem_calc(26);
      }

      label {
        line-height: rem_calc(25);
      }

      input[type="text"] {
        height: 30px;
      }
    }
  }

  .b-results {
    font-family: 'Open Sans', sans-serif;

    .total {
      font-size: rem_calc(18);
      color: #5e9472;
      line-height: rem_calc(55);
    }

    .items {
      @extend %padding;
      border-top: 1px solid $light_grey;

      .item {
        border-bottom: 1px solid $light_grey;
        padding-top: rem_calc(20);
        padding-bottom: rem_calc(20);

        .id {
          font-size: rem_calc(12);
          color: $dark_grey;
        }

        .attributes {
          font-size: rem_calc(15);
          padding-top: rem_calc(20);
        }

        .price {
          font-size: rem_calc(15);

          span {
            color: $green;
            font-weight: bold;
          }
        }

        .go {
          text-align: center;
          white-space: nowrap;

          &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em;
          }
        }

        .more {
          a {
            vertical-align: middle;
            display: inline-block;
            padding: rem_calc(20);
            font-size: rem_calc(18);
            border: 1px solid $green;
          }
        }
      }
    }
  }

  .wrap {
    border: 2px solid #a9a4a4;
  }

  h1 {
    @extend %padding;

    color: #4e4e4e;
    font-family: 'Open Sans', sans-serif;
    font-size: rem_calc(25);
    font-weight: 900;
    padding-top: rem_calc(10);
  }
}
