#l-apartments {
  margin-top: rem_calc(110);
  position: relative;
  margin-bottom: rem_calc(30);

  // Media queries
  $gutter-size: rem_calc(15); // Small-screen

  @media #{$large-up} {
    $gutter-size: rem_calc(30);
  }

  %padding {
    padding-left: $gutter-size;
    padding-right: $gutter-size;
  }

  // Navigation
  .b-nav-tabs {
    position: relative;
    margin-bottom: -2px;
    z-index: 10;
    min-height: 1px;

    li {
      padding: 0;
    }

    a {
      background-color: #68b095;
      color: $white;
      padding: rem_calc(5 0 5 10);
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
      font-size: rem_calc(16);
      display: block;

      &.active {
        background-color: $green;

        &:after {
          @include triangle(14px, $green, down);
          content: ' ';
          bottom: rem_calc(-7);
          position: absolute;
          left: rem_calc(30);
        }
      }
    }
  }

  .wrap {
    border: 2px solid #a9a4a4;
  }

  // Index page
  &.__index-page {
    @import "apartments/index_page";
  }

  // Parameters page
  &.__parameters-page {
    @import "apartments/parameters_page";
  }

  &.__item-page {
    @import "apartments/item_page";
  }

  @import "apartments/price_list_page";
}
