@import "icons";
@import "image_broadcaster";
@import "multi_slider";
@import "tooltip";

.b-download-pdf {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;

  a {
    text-decoration: underline;
  }

  &:before {
    content: "";
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    @extend i.icon.pdf.green;
  }
}

.b-active-compass {
  width: rem(80);
  height: rem(80);
  color: $green;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  font-size: rem(12);

  .bg {
    background: image-url('apartments/compass-blank.png') no-repeat;
    background-size: 100%;
    top: 0;
    bottom: 0;
    width: rem(80);
    height: rem(80);
  }

  div {
    position: absolute;
  }

  &.opposite {
    .n { top: 60px; }
    .s { bottom: 60px; }
    .e { right: 67px; }
    .w { left: 64px; }
  }

  .n {
    top: 2px;
    left: 45%;
  }

  .s {
    bottom: 2px;
    left: 47%;
  }

  .e {
    right: 7px;
    top: 40%;
  }

  .w {
    left: 7px;
    top: 40%;
  }
}
