// With love & pation

.development {
  &::after {
    content: "";
    background: image_url('development/standards-page') no-repeat !important;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 3000px;
  }

  .op {
    opacity: .88;
  }
}
