// With love & pation
/* Pages:
image-url('development/main-bg.png')
image-url('development/apartments-page.png')
image-url('development/apartment-page.png')
image-url('development/contacts-page.png')
image-url('development/location-page.png')
image-url('development/standards-page.png')
image-url('development/price-list-page.png')
*/
.development {
  &::after {
    content: "";
    background: image-url('development/price-list-page.png') no-repeat !important;
    //opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 1200px;
    height: 3000px;
  }

  .op {
    opacity: .88;
  }

  #footnotes_debug, footer {
    display: none;
  }
}
