@import 'variables';

html {
  @media #{$small-only} {
    font-size: $rem-base - 1;
  }

  @media #{$medium-only} {
    font-size: $rem-base - 3;
  }
}

body {
  background-color: $white;
  font-size: 100%;
}

header.application {
  $height: rem-calc(50); // Default block height
  $index: 5;

  background-color: $white;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 1px 0 0 #999;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  @extend %b-height;


  %b-height {
    height: $height;
  }

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 555;
  }

  .logo {
    position: absolute;
    right: 0;
    top: 0;
    z-index: $index;
    display: block;
  }

  li {
    list-style-type: none;
  }

  // Main navigational styles
  nav {
    position: absolute;
    font-weight: 300;
    background-color: $white;
    z-index: $index;

    @extend %b-height;

    ul {
      margin: 0;
      margin-left: rem-calc(5);

      font-size: rem-calc(13);

      @media #{$large-up} {
        font-size: rem-calc(15);
      }
    }

    li {
      display: inline-block;

      // <-- Media queries
      padding-left: rem-calc(25);

      @media #{$small-only} {
        padding-left: rem-calc(25/1.5);
      }

      @media #{$medium-only} {
        padding-left: rem-calc(25/1.2);
      }
      // -->

      a {
        display: inline-block;
        line-height: $height;
        @extend %b-height;

        color: $purple;
      }

      &.selected {
        a {
          color: $white;
          height: rem-calc(58);
          padding: 0 rem-calc(10) 0 rem-calc(10);
          text-align: center;
          background-color: $green;
          //@include linear-gradient(to top, #5e9472, #669966);
        }
      }
    }
  }

  // Languages selection
  ul.languages {
    font-family: 'Open Sans', sans-serif;
    font-size: rem-calc(10);
    position: absolute;
    margin: 0;
    z-index: $index + 1;

    li {
      display: inline-block;
      float: left;
      overflow: hidden;
      cursor: pointer;

      @media #{$medium-up} {
        width: rem-calc(20);
      }

      @media #{$small-only} {
        width: 53px;
        height: 53px;
        background-color: rgba(0, 0, 0, .6);
      }

      a {
        display: block;
        color: $black;
        font-size: rem-calc(10);
        font-weight: 300;
        line-height: rem-calc(65);
        white-space: nowrap;

        @media #{$medium-up} {
          @include transform(rotate(-90deg));
        }

        @media #{$small-only} {
          color: $white;
          font-size: 11px;
          padding: 5px;
        }
      }

      &:hover {
        background-color: #4d7c5d;

        @media #{$medium-up} {
          width: rem-calc(30);
          height: rem-calc(60);
        }

        @media #{$small-only} {
          border-right: 2px solid #000;
        }

        a {
          color: $white;
        }

        @include transition(all 220ms ease-out);
      }

      &.active {
        background-color: #4d7c5d;

        @media #{$medium-up} {
          width: rem-calc(30);
          height: rem-calc(60);
        }

        a {
          color: $white;

          @media #{$medium-up} {
            font-size: rem-calc(11);
          }

          @media #{$small-only} {
            font-size: rem-calc(16);
          }

        }
      }
    }
  }

  .info-block {
    @extend %b-height;

    .opener {
      font-size: rem-calc(12);
      margin-right: rem-calc(7);
      position: absolute;
      bottom: 0;
      right: rem-calc(10);
      color: #0a944a;

      i.fa {
        padding-right: 4px;
      }
    }

    .dropdown {
      color: $white;
      background-color: rgba(0, 0, 0, 0.5);
      bottom: rem-calc(-101);
      font-weight: bold;
      height: rem-calc(100);
      padding: rem-calc(10px 10px);
      position: absolute;
      z-index: $index;
      right: 0;
      width: 100%;

      a {
        color: $white;
      }

      i.fa {
        padding-right: rem-calc(10);
      }

      ul {
        @media #{$small-up} {
          margin: 0;
        }
      }

      li {
        padding-bottom: rem-calc(5);
      }

      .phone {
        font-size: rem-calc(17);

        @media #{$medium-only} {
          font-size: rem-calc(17/1.4);
        }

        @media #{$small-only} {
          font-size: rem-calc(17/1.5);
        }

        .label {
          font-size: rem-calc(16);
          margin-left: rem-calc(5);
          padding: rem-calc(3);
          font-weight: 500;
          width: 24%;
          display: inline-block;
          text-align: center;
        }

        .viber {
          margin-right: rem(10);
        }
      }

      .skype, .pdf {
        font-size: rem-calc(13);
      }
    }
  }
}

.ui.vertical.menu {
  .item.lang {
    &:before {
      background: none;
    }
  }
}

footer {
  font-family: 'Open Sans', sans-serif;

  li {
    list-style-type: none;
  }

  // Informational container
  .container {
    background-color: $green;
    color: $white;
    padding-top: rem-calc(30);
    font-size: rem-calc(14);

    a {
      color: $white;
      font-size: rem-calc(14)
    }

    h6 {
      color: $white;
      font-size: rem-calc(14);
      font-weight: bold;
    }
  }

  .small-logo {
    height: rem-calc(77);

    img {
      display: block;
      margin-left: rem(45);
    }
  }

  .address {
    @media #{$medium-up} {
      margin: rem-calc(5 45);
    }

    @media #{$small-only} {
      margin-left: rem-calc(20);
    }

    font-weight: 300;
    line-height: rem-calc(18);

    p {
      margin: 0;
    }
  }

  .footer-nav  {
    nav {
      margin-left: rem-calc(20);

      a:hover {
        font-size: rem-calc(16);
      }
    }

    ul {
      border-right: 1px solid $white;
      margin-right: rem-calc(40);
      font-weight: bold;
    }
  }

  p {
    font-size: rem-calc(14);
    margin-top: rem-calc(20);
    font-weight: 300;
    line-height: rem-calc(24);
  }

  .investment-fix {
    @media #{$xlarge-only} {
      width: 200px;
    }

    @media #{$small-only} {
      margin-top: rem-calc(40);
    }
  }

  .mobile-bottom {
    clear: both;
  }

  .investment {
    padding-left: rem-calc(20);

    @media #{$large-up} {
      p {
        width: rem-calc(140);
      }
    }
  }

  .contacts {
    .phone {
      background-color: $dark_green2;
      padding: rem-calc(3);
      padding-right: rem-calc(5);
      float: left;
      line-height: rem-calc(16);

      &:after {
        content: "";
        clear: both;
      }

      span {
        font-weight: bold;
        padding-right: rem-calc(10);
        display: inline-block;
        float: left;
      }

      a {
        text-decoration: underline;
        font-size: rem-calc(12);
        display: inline-block;
        float: left;
      }
    }

    p {
      float: left;
      margin-top: rem-calc(10);
    }
  }

  .small-contacts {
    div {
      margin-top: rem-calc(15);
    }

    i {
      padding-right: rem(10);
    }
  }

  .small-address {
    margin-top: rem-calc(60);
    p {
      padding-left: rem(30);
    }
  }

  .madeby {
    background-color: $dark_green2;
    color: $white;
    font-size: rem-calc(12);
    line-height: rem-calc(25);
    padding-bottom: rem-calc(3);

    span, a {
      opacity: .8;
    }

    a {
      color: $white;
      padding-left: rem-calc(5);
      font-weight: 300;
      text-decoration: underline;
    }
  }
}

// Media queries
@media only screen and (min-width: 641px) and (max-width: 770px) {
  .languages {
    width: 100px;
    margin-left: 30px !important;
  }

  nav {
    width: 400px;
  }

  .info-block .dropdown {
    padding: 0 !important;
  }
}
