@import 'variables';

body {
  background-color: $white;

  li {
    list-style-type: none;
  }
}

header.application {
  width: 100%;
  $height: 50px; // Default block height
  $index: 5;

  background-color: $white;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 1px 0 0 #999;
  font-family: 'Open Sans Condensed', sans-serif;
  @extend %b-height;


  %b-height {
    height: $height;
  }

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 555;
  }

  .logo {
    position: absolute;
    right: 0;
    top: 0;
    z-index: $index;
    display: block;
  }

  // Main navigational styles
  nav {
    position: absolute;
    font-weight: 300;
    background-color: $white;
    z-index: $index;

    @extend %b-height;

    ul {
      margin-left: rem_calc(5);
      font-size: rem_calc(16);

      @media #{$small-only} {
        font-size: rem_calc(16/1.5);
      }

      @media #{$medium-only} {
        font-size: rem_calc(16/1.2);
      }
    }

    li {
      display: inline-block;
      // <-- Media queries
      padding-left: rem_calc(27);

      @media #{$small-only} {
        padding-left: rem_calc(27/1.5);
      }

      @media #{$medium-only} {
        padding-left: rem_calc(27/1.2);
      }
      // -->

      a {
        display: inline-block;
        line-height: $height;
        @extend %b-height;

        color: $purple;
      }

      &.selected {
        a {
          color: $white;
          height: 57px;
          padding: 0 rem_calc(10) 0 rem_calc(10);
          text-align: center;
          background-color: #5e9472;
          //@include linear-gradient(to top, #5e9472, #669966);
        }
      }
    }
  }

  // Languages selection
  ul.languages {
    font-family: 'Open Sans', sans-serif;
    font-size: rem_calc(10);
    position: absolute;
    margin: 0;
    z-index: $index;

    li {
      display: inline-block;
      float: left;
      width: 20px;
      overflow: hidden;
      cursor: pointer;

      a {
        display: block;
        color: $black;
        font-size: 10px;
        font-weight: 300;
        line-height: 65px;
        white-space: nowrap;
        @include transform(rotate(-90deg));
      }

      &:hover {
        background-color: #4d7c5d;
        height: 60px;
        width: 30px;

        a {
          color: $white;
        }

        @include transition(all 300ms ease-out);
      }

      &.active {
        background-color: #4d7c5d;
        height: 60px;
        width: 30px;

        a {
          color: $white;

          // <-- Media queries
          font-size: rem_calc(12);

          @media #{$small-only} {
            font-size: rem_calc(12/1.5);
          }

          @media #{$medium-only} {
            font-size: rem_calc(12/1.2);
          }
          // -->
        }
      }
    }
  }

  .info-block {
    @extend %b-height;

    .opener {
      font-size: rem_calc(10);
      margin-right: rem_calc(7);
      position: absolute;
      bottom: 0;
      right: rem_calc(10);

      i.fa {
        padding-right: 4px;
      }
    }

    .dropdown {
      color: $white;
      background-color: rgba(0, 0, 0, 0.5);
      bottom: -100px;
      font-weight: bold;
      height: 100px;
      padding: 10px 10px;
      position: absolute;
      z-index: $index;
      right: 0;
      width: 100%;

      a {
        color: $white;
      }

      i.fa {
        padding-right: 10px;
      }

      li {
        padding-bottom: 5px;
      }

      .phone {
        font-size: rem_calc(17);

        .label {
          background-color: rgba(0, 0, 0, 0.9);
          margin-left: 10px;
          padding: 3px;
          font-size: rem_calc(13);
          font-weight: 500;
          width: 24%;
          display: inline-block;
          text-align: center;
        }
      }

      .skype, .pdf {
        font-size: rem_calc(13);
      }
    }
  }
}

footer {
  font-family: 'Open Sans', sans-serif;

  // Informational container
  .container {
    background-color: #5e9472;
    color: $white;
    padding-top: rem_calc(30);
    font-size: rem_calc(14);

    a {
      color: $white;
      font-size: rem_calc(14)
    }

    h6 {
      color: $white;
      font-size: rem_calc(14);
      font-weight: bold;
    }
  }

  .small-logo {
    height: 77px;
  }

  .address {
    padding: rem_calc(5 45);
    font-weight: 300;
    line-height: rem_calc(18);

    p {
      margin: 0;
    }
  }

  .footer-nav  {
    nav {
      margin-left: 20px;

      a:hover {
        font-size: rem_calc(16);
      }
    }

    ul {
      border-right: 1px solid $white;
      margin-right: 40px;
      font-weight: bold;
    }
  }

  p {
    font-size: rem_calc(14);
    margin-top: rem_calc(20);
    font-weight: 300;
    line-height: rem_calc(24);
  }

  .investment {
    margin-left: rem_calc(20);

    p {
      width: rem_calc(140);
    }
  }

  .contacts {
    .phone {
      background-color: #477455;
      padding: rem_calc(3);
      float: right;
      text-align: right;
      line-height: rem_calc(16);

      &:after {
        content: "";
        clear: both;
      }

      span {
        font-weight: bold;
        padding-right: rem_calc(10);
      }

      a {
        text-decoration: underline;
        font-size: rem_calc(12);
      }
    }

    p {
      float: right;
      padding-right: rem_calc(80);
      margin-top: rem_calc(10);
    }
  }

  .madeby {
    background-color: #477455;
    color: $white;
    font-size: rem_calc(12);
    line-height: rem_calc(25);
    padding-bottom: rem_calc(3);

    span, a {
      opacity: 0.8;
    }

    a {
      color: $white;
      padding-left: rem_calc(5);
      font-weight: 300;
      text-decoration: underline;
    }
  }
}
