// Location page
.l-location {
  margin-top: rem_calc(139);

  fieldset {
    border: 2px solid #a9a4a4;
    padding: rem_calc(25) rem_calc(30);
  }

  .active-map {
    padding: rem_calc(25);
  }

  .active-map-icons {
    padding: rem_calc(40);
  }
}
