// Location page
#l-location {
  margin-top: 5rem;
  margin-bottom: 0;

  fieldset {
    border: 2px solid $grey-borders;
    padding: rem_calc(25) rem_calc(30);

    legend {
      color: $green;
      font-family: 'Open Sans', sans-serif;
      font-size: rem_calc(15);
      font-weight: 400;
    }
  }

  .orbit-container {
    @media #{$medium-up} {
      height: 575px;
    }
  }

  #location-orbit {
    list-style-type: none;
    margin-bottom: rem(20);
  }

  .angular-google-map-container {
    // <-- Media queries
    @media #{$small-only} {
      height: rem(400);
    }
  }


  ul.description {
    font-size: rem_calc(13);

    li {
      padding-bottom: rem_calc(20);
      list-style-type: none;

      &:before {
        content: "";
        border-top: 7px solid transparent;
        border-left: 15px solid $green;
        border-bottom: 7px solid transparent;
        display: inline-block;
        padding-right: rem_calc(15);
        vertical-align: middle;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .b-map-controls {
    border-bottom: 1px solid $light_grey;
    margin-bottom: rem_calc(25);
    padding: rem_calc(25);

    li {
      padding: 0;
    }

    a {
      display: block;
      padding: rem_calc(12);

      @media #{$small-only} {
        font-size: rem(12);
      }

      &:hover {
        background-color: #e7efea;
      }

      &.active {
        background-color: #e7efea;
      }

      i {
        background: image_url('location/icons-sprite') no-repeat;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        width: 41px;
        height: 35px;
      }

      i.medicine {
        background-position: -82px 0;
      }

      i.autobus {
        background-position: -124px 0;
      }

      i.relax {
        background-position: -255px 0;
      }

      i.school {
        background-position: 0 0;
      }

      i.administration {
        background-position: -162px 0;
      }

      i.police {
        background-position: -302px 0;
      }

      i.library {
        background-position: -39px 0;
      }

      i.playground {
        background-position: -204px 0;
      }

      i.sport {
        background-position: -350px 0;
      }
    }
  }

  .b-bottom-images {
    margin-bottom: 20px;

    figure {
      padding: 0;
      margin: 0;
    }

    figcaption {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: rem_calc(20);
      font-weight: bold;
      color: #979797;
    }
  }
}
