// Location page
.l-location {
  margin-top: 109px;

  fieldset {
    border: 2px solid #a9a4a4;
    padding: 25px 30px;
  }

  .active-map {
    padding: 25px;
  }

  .active-map-icons {
    padding: 40px;
  }
}
