#l-main {
  background-color: $white;

  .main-slider {
    min-height: 1px;
    position: relative;
    z-index: 2;

    .choose-apartment {
      position: absolute;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
      font-size: rem_calc(18);
      text-transform: uppercase;
      color: #fff;
      background-color: rgba(94, 148, 114, 0.8);
      z-index: 50;
      right: -10px;
      bottom: -10px;
      height: 40px;
      line-height: 40px;
      padding-left: 5px;

      &:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid rgba(94, 148, 114, 0.8);
        right: 10;
      }

      .map {
        position: absolute;
        display: inline-block;
        width: 40px;
        height: 40px;
        background: image_url('icons/plan-icon42.png') center center no-repeat, rgba(134, 162, 142, 0.9);
        background-size: 20px 20px;
        left: -40px;
      }
    }
  }

  .main-info {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: $white;
    min-height: rem_calc(460);

    .columns:nth-child(2) {
      box-shadow: 0px -4px 4px #999;
    }

    header {
      $height: rem_calc(50);
      height: $height;
      margin-top: rem_calc(28);

      h1 {
        color: $white;
        display: inline-block;
        font-size: rem_calc(36);
        font-weight: bold;
        height: $height;
        width: 80%;
        text-align: center;
        margin: 0;
      }

      i {
        color: $white;
        margin-left: 15px;
      }

      &.map {
        position: absolute;
        z-index: 10;
      }

      &.grey {
        background: rgba(127, 127, 127, 0.5);
        h1 {
          background-color: $grey;
        }
      }

      &.green {
        background: rgba(94, 148, 114, 0.5);
        h1 {
          background-color: #5e9472;
        }
      }
    }

    .gmap {
      top: 0;
      left: 0;
      .angular-google-map-container {
        // <-- Media queries
        height: 400px;

        @media #{$small-only} {
          padding-left: rem_calc(27/1.5);
        }

        @media #{$medium-only} {
          height: 710px;
        }

        @media #{$large-only} {
          height: 684px;
        }

        @media #{$xlarge-only} {
          height: 531px;
        }
      }
    }

    ul.benefits {
      font-family: 'Open Sans', sans-serif;
      padding: 50px 20px 20px 50px;

      li {
        padding: rem_calc(10 10);
        list-style-type: none;
        list-style-image: image_url('icons/bullet.png');
      }

      h4 {
        color: $black;
        font-size: rem_calc(18);
        margin: 0;
      }

      p {
        font-size: rem_calc(12);
        color: $grey;
        margin-bottom: 5px;
      }
    }
  }

  .main-preview {
    .action.buttons {
      color: $white;
      text-transform: uppercase;

      .btn {
        height: rem_calc(100);
        font-size: rem_calc(20);
        cursor: pointer;
        position: relative;

        &.active {
          font-size: rem_calc(20);
          font-weight: bold;
          height: rem_calc(150);
        }

        .text {
          width: 50%;
          height: 50%;
          margin-top: auto;
          margin-bottom: auto;
          position: absolute;
          text-align: end;
          top: 0;
          left: rem_calc(10);
          bottom: 0;
          right: 0;
          z-index: 4;
          display: table;

          span {
            display: table-cell;
            vertical-align: middle;
          }
        }

        .image {
          width: 100%;
          height: 100%;
          @include filter(brightness(0.7));
        }

        &.active .image {
          @include filter(brightness(1));
        }

        &.exterior {
          .image {
            background-image: image_url('main/preview-widget/exterior-btn');
          }

          &.active {
            .image {
              background-image: image_url('main/preview-widget/exterior-btn-active');
            }
          }
        }

        &.interior {
          .image {
            background-image: image_url('main/preview-widget/interior-btn');
          }

          &.active {
            .image {
              background-image: image_url('main/preview-widget/interior-btn-active');
            }
          }
        }

        &.tour {
          .image {
            background-image: image_url('main/preview-widget/tour-btn');
          }

          &.active {
            .image {
              background-image: image_url('main/preview-widget/tour-btn-active');
            }
          }
        }

        &.webcams {
          .image {
            background-image: image_url('main/preview-widget/webcams-btn');
          }

          &.active {
            .image {
              background-image: image_url('main/preview-widget/webcams-btn-active');
            }
          }
        }
      }
    }

    .screen {
      background-color: $white;
      position: relative;

      padding: {
        left: rem_calc(4) !important;
        right: rem_calc(3) !important;
      }

      .orbit {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    .options {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: rem_calc(25);
      font-weight: bold;
      text-transform: uppercase;

      color: $white;

      .option {
        margin-bottom: rem_calc(4);
        background-color: #5e9472;
        cursor: pointer;
        padding: rem_calc(6);

        .wrap {
          border: 1px solid $white;
          padding-top: rem_calc(10);
          height: 100%;
        }

        .text {
          text-align: center;
          line-height: rem_calc(30);
        }

        .icon {
          width: 42px;
          height: 42px;
          margin: 15% auto;

          &.pdf {
            background-image: image_url('icons/pdf-icon42');
          }

          &.plan {
            background-image: image_url('icons/plan-icon42');
          }
        }
      }
    }
  }

  .main-steps-info {
    color: $grey;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 4px;

    h1,h5 { color: $grey; }

    h1 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
      font-size: rem_calc(28);
      margin-top: 54px;
    }

    ol.steps {
      margin-top: 45px;
      list-style-type: none;

      .step {
        font-family: 'Open Sans', sans-serif;
        border: 1px solid $green;
        font-weight: bold;
        font-size: rem_calc(27);
        line-height: 40px;
        text-align: center;
        width: 44px;
        height: 44px;
        float: left;
        margin-right: 13px;
      }

      .info {
        padding-left: 54px;
      }

      h5 {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: rem_calc(15);
        font-weight: bold;
        margin-top: 0;
        line-height: .8;
      }

      p {
        font-size: rem_calc(14);
        font-weight: 500;
      }
    }
  }
}
