#l-standards {
  margin-top: rem_calc(175);

  .row {
    margin-bottom: 15px;

    &.last {
      padding-bottom: 20px;
      border-bottom: 1px solid $light_grey;
    }
  }

  section {
    color: $dark_grey;

    &.left-side {
      background: image_url('standards/ruler-left-s') -30px 20px no-repeat;
      padding-left: 13%;

      &.long {
        background: image_url('standards/ruler-left-l') -30px 20px no-repeat;
        padding: 0;
      }
    }

    &.right-side {
      background: image_url('standards/ruler-right-s') 100% 20px no-repeat;
      padding-right: 15%;

      &.long {
        background: image_url('standards/ruler-right-l') 100% 20px no-repeat;
        padding: 0;
      }

      h1 {
        padding-right: 20px;
      }
    }

    h1 {
      color: $grey;
      font: {
        family: 'Open Sans Condensed', sans-serif;
        size: rem_calc(28);
        weight: bold;
      }
      text-transform: uppercase;
    }

    .content {
      clear: both;

      .accordion {
        margin: 0;
      }

      &.small, &.small > ul > li {
        font-size: rem_calc(13);
        line-height: rem_calc(15);
      }
    }
  }

  .images {
    padding-top: 33px;
  }

  .architect {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;

    h1 {
      color: #5e9472;
      font: {
        family: 'Open Sans Condensed', sans-serif;
        size: rem_calc(28);
        weight: bold;
      }
    }

    h2 {
      color: #666666;
      font-size: rem_calc(16);
      font-weight: bold;
      text-transform: uppercase;
    }

    p {
      color: #4e4e4e;
    }

    span.author {
      font-style: italic;
      font-weight: 600;
    }
  }
}
